<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

    <!-- Appenders -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyy-MM-dd_HH_mm_ss" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>logs/log-${bySecond}.log</file>
        <encoder>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>logs/rollingLogFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logFile.%d{yyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="logger" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/> <!-- not necessary because root have this appender already -->
        <appender-ref ref="FILE" />
        <appender-ref ref="ROLLING_FILE" />
    </logger>

    <!-- By default, the level of the root level is set to DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>